.banner {
  background: linear-gradient(rgba(5,7,12,0.50), rgba(5,7,12,0.50)),
   url(../images/imgbanner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  min-height: 200px;
  padding: 16px;  
}

.banner__title {
  color: rgb(207, 207, 207);
  font-size: 22px;
  font-weight: 700;
  margin: 0;

}

.banner__productos {
  color: rgb(207, 207, 207);
  font-size: 22px;
  font-weight: 700;
  /* margin: 8px 0px; */
}

.banner__link {
  border: none;
  color: #030303;
  background-color: #50858b;
  display: block;
  font-size: 16px;
  font-weight: 700; 
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 3px;
  font-family: sans-serif;
  max-width: 150px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, .67);
}

.banner__link:hover {
  background: #6d9934;
  transition: all 600ms ease;

}

@media(min-width: 768px) {

  .banner {
    height: 352px;
    padding: 32px;
  }

  .banner__title {
    font-size: 52px;
  }

  .banner__para {
    font-size: 22px;
    margin: 16px 0;
  }

}

@media(min-width: 1100px) {
  .banner {
    padding: 0 10% 32px 10%;
  }

  .banner__link {
    height: 51px;
    padding: 16px;
    font-weight: normal;
    width: 129px;
    text-align: center;
  }
}